*
{
    margin: auto;
    padding: auto;
}

#webglcanvas
{
    position: fixed;
    top: 0%;
    left: 0;
    outline: none;
}
html,body
{
    overflow: hidden;
}

#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
	color:#b8c3f5;
}

#status {
	position:absolute;
	bottom:20px;
	width:200px;
	height:40px;
	right:20px;
	color:#f4f5b8;
}